extends layout.pug
block content
  h1 hello!

  form(action="/user" method="POST" enctype="multipart/form-data" class="send-form")
    .form-group
      input(name="name" placeholder="Имя")
    .form-group
      input(name="date" type="date")
    .form-group
      input(name="avatar" type="file" multiple)
    .form-group
      button.btn.btn-primary(type="submit" value="Отправить") Отправить
  #users.container.items

  script(type="text/javascript").
    console.log('log from index.pug!')
  script(src="/app.js")
